body {
  background-color: beige;
}
.jsTest {
  width: 150px;
  height: 150px;
  border: 1px solid black;
}
h1 {
  color: blue;
  transition: color 0.4s ease-in;
}
.clicked {
  color: tomato;
}
.colorChange {
  color: skyblue;
}
.sexy-font {
  font-family: "Courier New", Courier, monospace;
}

h2 {
  color: skyblue;
  font-size: 50px;
  transition: color 0.5s ease-out;
}
.check {
  color: red;
}
